body {
    background: #232323;
}

.square {
    width: 30%;
    /* background: purple; */
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 8px;

}

.navB {
    background-color: white;
    margin-top: 0px;
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}