
<%- include("partials/header") %>

<h1>You fell in love with: <%= thingVar %></h1>
<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>GOOD Choice! RUSTY IS THE BEST</p>
<% } %>

<p>P.S. this is the love .ejs</p>


<%- include("partials/footer") %>